 <div class="row p-5">
   <div class="col-sm-6">
     <div class="card">
       <div class="card-body">
         <h5 class="card-title">Special </h5>
         <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
         <a routerLink="/specials" class="btn btn-success">specials</a>
       </div>
     </div>
   </div>
   <div class="col-sm-6">
     <div class="card">
       <div class="card-body">
         <h5 class="card-title">Event</h5>
         <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
         <a routerLink="/events" class="btn btn-primary">Events</a>
       </div>
     </div>
   </div>

   <div class="col-sm-6">
     <div class="card">
       <div class="card-body">
         <h5 class="card-title">Event</h5>
         <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
         <a (click)="refresh_token()" class="btn btn-primary">refresh Token</a>
       </div>
     </div>
   </div>
 </div>
